.swiper-container {
	width: 1920px;
	max-width: 100%;
}

.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	margin: 50px 40px !important;
	background-color: $white;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: $orange;
}